/* Basics */

html {
  background: url("../img/landscape.jpg") no-repeat center right fixed;
  background-size: cover;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #2b2b2b;
  padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #E84855;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

/* Header */

.page-header {
  text-align: center;
}
.page-header__item {
  color: #FAFAFA;
}

/* Content */

.content {
  margin: 50px auto;
}

.content ul {
  padding: 0;
}

.content__item {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  background-color: rgba(232, 72, 85, 0.8);
  border-radius: 5px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content__item--button {
  border: 1px solid #FAFAFA;
  border-radius: 50%;
  background-color: transparent;
  color: #FAFAFA;
}

.highlight {
  color: #FAFAFA;
}

/* Footer */

.footer {
  text-align: center;
}

.footer_item {
  color: #FAFAFA;
}

@media all and (min-width: 700px) {
  .content {
    max-width: 700px;
  }

  body {
    padding: 0;
  }

  html {
    background: url("../img/landscape.jpg") no-repeat center center fixed;
  }
}
